:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

span {
  font-weight: 700;
}

.product-image {
  max-width: 400px;
  width: 100%;
}

img.thumbnail {
  height: 80px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.rating span {
  color: #ffc000;
}

.nav-bar-links {
  text-decoration: none;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: 768px) {
  .nav-bar-links {
    white-space: nowrap;
  }
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}


@media (min-width: 768px) {
  .nav-bar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.card-link {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.2em;
  /* 3.2em = 51.2px */
  margin-bottom: 1em;
  /* 1em = 16px */
}

.card-link:hover {
  color: #ff6600;
  text-decoration: none;
}

.card-link-black {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.2em;
  /* 3.2em = 51.2px */
  margin-bottom: 1em;
  /* 1em = 16px */
}

.card-link-black:hover {
  color: #ff6600;
  text-decoration: none;
}

.my-container {
  display: flex;
  justify-content: space-between;
}

.cart-value {
  font-weight: 900;
  color: green;
}

.small-container {
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.cart-link {
  color: #6f98f1;
  text-decoration: none;
  font-size: smaller;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

/* Header */

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

.navbar-brand:hover {
  color: #ff6600;
  text-decoration: none;
}

a.header-link,
.header-link>a {
  border: 1px rgb(33, 37, 41) solid;
  border-radius: 2px;
  color: white !important;
  font-weight: bold;
}

a.header-link:hover,
.header-link>a:hover {
  color: white;
  border: 1px white solid;
}

.header .dropdown-menu,
.header .dropdown-item {
  color: black !important;
  background-color: white;
}

.header .dropdown-item a:hover {
  border: 1px rgb(33, 37, 41) solid;
}

.sub-header {
  background-color: #232f3e;
}

.cart-badge {
  position: absolute;
  color: #f08000;
  font-weight: bold;
  margin-left: 16px;
  margin-top: -3px;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: black;
}

/* SideBar */
.side-navbar-backdrop {
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  /* Stay in place */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6);
}

.side-navbar {
  width: 340px;
  height: 100%;
  position: absolute;
  left: -350px;
  background-color: #f5f5f5;
  transition: 0.5s;
  z-index: 2;
}

.active-nav {
  left: 0;
}

.side-navbar-user {
  background-color: #232f3e !important;
  color: white;
  font-weight: bold;
}

button.side-navbar-user:hover {
  color: white;
}

.dashboard-data {
  color: #f08000;
}

.table-overflow {
  overflow-x: auto;
}